.footer_home1 {
  height: 3.7rem;
  background-color: red;
 position: relative;
}

.footer_home2 {
  height: 3.2rem;
  background-color: black;
  position: relative;
}

.footer_home2_ball {
  left: 47%;
  height: 5rem;
  background-color: white;
  aspect-ratio: 1/1;
   border-radius: 9999px;
  position: absolute;
  top: -2.5rem;
 border: 8px solid black;
  
}

 .footer_img{
  left: 47.6%;
  height: 65px;
  position: absolute;
  top: -2rem;
}