.pokecard {
  width: 100%;
  max-width: 300px;
  border-radius: 0.7em;
  border: 0.5em solid #999;
  cursor: pointer;
  transition: transform 180ms ease;
  break-inside: avoid; 
}

.pokecard:hover {
  transform: scale(1.04);
}

.pokecard_header {
  background-color: #555;
  aspect-ratio: 1.8;
  position: relative;
}

.pokecard_img {
  position: absolute;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
  top: 1.4em;
}

.pokecard_body {
  padding: 3.4em 1em 2em;
}

.pokecard_name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 380;
  margin-bottom: 0.3em;
}

.pokecard_types {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 0.9em;
}

.pokecard_typename {
  text-transform: capitalize;
}

.pokecard_typename:nth-child(2)::before {
  content: "/";
  padding-right: 0.4em;
}

.pokecard_hr {
  margin-bottom: 1em;
}

.pokecard_stats {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-items: center;
  gap: 0.8em 0.2em;
}

.pokecard_stat {
  display: flex;
  gap: 0.3em;
  justify-items: center;
}

.pokecard_stat_name {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.pokcard_stat_base {
  font-weight: 500;
  font-size: 1rem;
}

.fire-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    176deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}

.grass-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    179deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.water-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.normal-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    182deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.fighting-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    177deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}

.rock-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    177deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}

.bug-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    178deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}

.ghost-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    177deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}

.steel-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

.ground-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}

.electric-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}

.psychic-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.dragon-gradient {
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    180deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}
